/* Global Styles */
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

a:hover {
    color: #f9a826;
}

/* Buttons */
.btn {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #f9a826;
    color: white;
}

.btn-secondary {
    background-color: #06051D;
    color: white;
}

/* Utility Classes */
.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-between {
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
