/* General Styles */
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 60px 20px;
    /*background-image: url('../static/images/hero-image-contact.png'); /* Add background image */
    background-size: cover; /* Ensure the image covers the section */
    background-position: center;
    height: 20vh; /* Adjust height */
    color: white;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #f9a826;
}

.hero p {
    font-size: 16px;
}

/* Tutorials Section */
.tutorials-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
    background-color: #ffffff;
}

.tutorial-card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 450px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.tutorial-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.tutorial-card img {
    width: 100%;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.tutorial-card h2 {
    font-size: 18px;
    margin: 15px 0;
    color: #333;
}

.tutorial-card p {
    font-size: 14px;
    padding: 0 15px;
    color: #666;
    margin-bottom: 20px;
}

.tutorial-card .btn {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #f9a826;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.tutorial-card .btn:hover {
    background-color: #e58922;
}
